body {
	font-family: 'Rambla' sans-serif;
}

DIV.cutaway {
	text-align:center;
	margin: auto;
  position: absolute;
  top: -100px; left: 0; bottom: 0; right: 0;
	width:350px;
	height:200px;
	font-size:12pt;
	line-height:2;
	padding:30px;
	color:#232323;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border:1px solid #fcfcfc;
}

SPAN.name {
	font-size:27pt;
	font-weight:bold;
	font-family: 'Playball' sans-serif;
}

SPAN.attention {
	font-size:16pt;
	font-weight:bold;
}

DIV.contacts {
	margin-top:10px;
	font-size:11pt;
	line-height:1.4;
}

A {
	color:#7a7a7a;
	text-decoration:underline;
}

A:hover {
	color:#232323;
}
