body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
}

.name {
    margin: 0;
    font-weight: normal;
}

.occupation {
    font-size: 3em;
}

.email {
    width: 100px;
    height: 13px;
    margin-top: 5px;
}

.contact {
    color: #000;
	text-decoration:underline;
}

.contact:hover {
	color:#333;
}

ul.contacts {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.contacts li {
    margin: 10px 0;
}
